---
title: 'About | BookStreet Web Designs'
description: 'About Us Page'
preloadImg: '/assets/images/Webdesign_1.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="new home" width="2250" height="1500" loading="eager">
        </picture>

    </section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-442">
    <div class="cs-wrapper">
        <div class="cs-container">
            <div class="cs-content">
                <p class="cs-review">
                    <!--Placed inside p tag for more consistent positioning-->
                    <img class="cs-quote" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left.svg" alt="quote icon" width="120" height="106" loading="lazy" decoding="async" aria-hidden="true">
                    "After serving over 20 years in the Army, where I honed my discipline, leadership, and attention to detail, I decided to channel those skills into a new mission: creating websites for small business. Just like the service, success in business requires planning, precision, and a commitment to excellence. Now I'm helping businesses build their digital presence, one pixel at a time.”
                </p>
                <span class="cs-author">Bryan McCoskey - BookStreet Web Design</span>
            </div>
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/bryan-photo2.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/bryan-photo2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/bryan-photo2.jpg" alt="person looking left" width="328" height="540" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 About Us                     -->
<!-- ============================================ -->

<section id="why-choose-442">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Best-In-Class</span>
            <h2 class="cs-title">Why Choose Us?</h2>
            <p class="cs-text">
                We focus on your needs as a business and tailor our hand-coded templates to suit. Our process is fast, but never comprimises quality or performance.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/customize-computer.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">No Pre-Written Content </h3>
                <p class="cs-item-text">
                    None of our content is pre-written, ensuring your site is unique and tailored to your needs.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/build-alt.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">No Page Builders</h3>
                <p class="cs-item-text">
                    We never use any Page Builders, they hurt performance and kill SEO. We offer speed & optimisation.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/file-edit.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">No Limits On Design</h3>
                <p class="cs-item-text">
                    Need something changed? No problem, our signature subscription comes with lifetime updates.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/badget-check-alt.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">No Compromise</h3>
                <p class="cs-item-text">
                    We will never compromise on quality or speed. This is why all our sites are hand-coded from scratch.
                </p>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}