---
title: 'Portfolio | BookStreet Web Design'
description: 'Portfolio Page'
preloadImg: '/assets/images/Webdesign_1.jpg'
permalink: 'portfolio/'
eleventyNavigation:
    key: Portfolio
    order: 350
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Portfolio</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="new home" width="2250" height="1500" loading="eager">
        </picture>

    </section>
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-43">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">BookStreet</span>
            <h2 class="cs-title">Small Business, Big Success</h2>
            <p class="cs-text">
                Explore our portfolio to see how we blend innovative design with practical functionality to enhance your online presence.
            </p>
        </div>
        <div class="cs-image-group">
            <!-- Image 1 -->
            <a class="cs-item" href="https://gablindsports.org/">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/GBSA.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/GBSA.png">
                    <img loading="lazy" decoding="async" src="/assets/images/GBSA.png" alt="fancy house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Georgia Blind Sports Association</h3>
                    <p class="cs-hover-box-text">
                        
                    </p>
                </div>
            </a>
            <!-- Image 2 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_2.jpg" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coming Soon</h3>
                    <p class="cs-hover-box-text">
                        More success stories coming soon!
                    </p>
                </div>
            </a>
            <!-- Image 3 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_2.jpg" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coming Soon</h3>
                    <p class="cs-hover-box-text">
                        More success stories coming soon!
                    </p>
                </div>
            </a>
            <!-- Image 4 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_2.jpg" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coming Soon</h3>
                    <p class="cs-hover-box-text">
                        More success stories coming soon!
                    </p>
                </div>
            </a>
            <!-- Image 5 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_2.jpg" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coming Soon</h3>
                    <p class="cs-hover-box-text">
                        More success stories coming soon!
                    </p>
                </div>
            </a>
            <!-- Image 6 -->
            <a class="cs-item" href="">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_2.jpg" alt="modern house" width="346" height="346">
                </picture>
                <!-- Hover Box -->
                <div class="cs-hover-box">
                    <picture class="cs-icon">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orange-arrow-right.svg" alt="fancy house" width="20" height="20" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Coming Soon</h3>
                    <p class="cs-hover-box-text">
                        More success stories coming soon!
                    </p>
                </div>
            </a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}