---
title: 'Example Two | BookStreet Web Design'
description: 'Example Two Page'
preloadImg: '/assets/images/Webdesign_1.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Coming Soon
    order: 4200
    parent: Examples
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Coming Soon!</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/nightsky.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/nightsky.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/nightsky.jpg" alt="new home" width="2250" height="1500" loading="eager">
        </picture>
    </section>

    

    {% include 'components/cta.html' %}

{% endblock %}