---
title: 'Services | BookStreet Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="new home" width="2250" height="1500" loading="eager">
        </picture>
    </section>

<!-- ============================================ -->
<!--                 Why Choose                   -->
<!-- ============================================ -->

<section id="why-choose-289">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Promise</span>
                <h2 class="cs-title">Lifetime Updates For Your Website</h2>
            </div>
            <p class="cs-text">
                At BookStreet Web Design, our Signature Package comes with unlimited, lifetime edits to your site. This way, you can always be sure your content is relevant, accurate and up to date.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/award.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Unlimited Updates</h3>
                <p class="cs-item-text">
                    We offer unlimited updates to keep your website appealing and aligned with your latest services.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg" alt="icon" width="40" height="48">
                <h3 class="cs-h3">Customized Design</h3>
                <p class="cs-item-text">
                    Our personalized websites are custom made to your needs, ensuring a great looking site.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg" alt="icon" width="48" height="48">
                <h3 class="cs-h3">Full time support</h3>
                <p class="cs-item-text">
                    Call us anytime! We guarantee personalized attention from real people, not an AI call center.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-296">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">Our Simple Four Step Process</h2>
            <p class="cs-text">
                Our personalized process enables you to stop wasting time stressing about your website so you can focus on your business.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" src="/assets/svgs/circle-1.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Discover</h3>
                    <p class="cs-item-text">
                        During the Discovery phase, we gather all necessary information about your business, goals, and target audience.                    
                    </p>              
                    </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/circle-2.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Design</h3>
                    <p class="cs-item-text">
                        In the Design stage, we create a full website mockup that aligns with your branding and expectations.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="/assets/svgs/circle-3.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Develop</h3>
                    <p class="cs-item-text">
                        The Development phase involves transforming your approved design into a fully functional and responsive website.
                    </p>
                </a>
                <picture class="cs-image"  aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" src="/assets/svgs/circle-4.svg" alt="icon" width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Deploy</h3>
                    <p class="cs-item-text">
                        Finally, the Deployment phase includes launching your new website and making it live for your audience.
                    </p>
                </a>
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="/assets/images/Webdesign_1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Webdesign_1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Webdesign_1.jpg" alt="library" width="413" height="266">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1387">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">It's Easy To Get Started</h2>
            <p class="cs-text">
                We offer transparent pricing on all our packages, ensuring you find the perfect fit for your business needs. Each package is designed to offer comprehensive web design and development services without upfront fees or hidden costs.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-1387" class="cs-plan">Pay Monthly</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-1387" class="cs-plan">Lump Sum</span>
            </div>
        </div>
        <ul class="cs-card-group cs-option1">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Signature Package</span>
                    <span class="cs-price">
                        $200
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">5 Page Website</li>
                        <li class="cs-li">Unlimited Edits</li>
                        <li class="cs-li">Cloud Hosting</li>
                        <li class="cs-li">Real Customer Support</li>
                        <li class="cs-li">Lifetime Updates</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Started</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Additional Pages</span>
                    <span class="cs-price">
                        $50
                        <span class="cs-duration">/Page</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">From simple pages to complex requirements</li>
                        <li class="cs-li">3rd Party integrations available for Booking, Scheduling, Appointments, CRM</li>
                        <li class="cs-li">Same benefits as Signature Package</li>
                        
                    </ul>
                    <a href="" class="cs-button-transparent">Get Started</a>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group cs-option2">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Lump Sum</span>
                    <span class="cs-price">
                        $3000
                        <span class="cs-duration">/One Time</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">5 Page Website</li>
                        <li class="cs-li">$25 per Month Hosting</li>
                        <li class="cs-li">$50 per Hour Edits</li>
                        <li class="cs-li">Good for 3 Years</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Started</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Additional Pages</span>
                    <span class="cs-price">
                        $500
                        <span class="cs-duration">/Page</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">From simple pages to complex requirements</li>
                        <li class="cs-li">3rd Party integrations available for Booking, Scheduling, Appointments, CRM</li>
                        <li class="cs-li">Same benefits as Lump Sum Package</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                                                
                                

    {% include 'components/cta.html' %}

{% endblock %}